<!-- @Author - Shoeb Raza <mail@shoebraza.com>
	 @Version - v1.0  -->

<div class="editorHeader">
  <nav role="navigation" class="teal">
      <button class="btn left btn-flat" style="background:#26a69a;color:#eee" ng-click="$back()">BACK</button>
      <div class="ed-title"></div>
      <a class="btn btn-flat right" style="background:#fff;color:#26a69a" ng-href="/products/">EXIT</a>
  </nav>
</div>

<div class="customize-wrapper">
	<div class="container">
		<h3 class="cart-title">
			<div ng-hide="step2 || step3">CART <span ng-show="cartCount">({{cartCount}} item)</span></div>
			<div ng-show="step2">Shipping Address</div>
			<div ng-show="step3">Payment Option</div>
		</h3>

		<div class="cart-wrapper">
			<div class="leftBlock">
				<!-- ========== steps naviagtion =========== -->
				<div class="stepsBlock">
					<div ng-click="step2=false;step3=false" class="stepsCircle-fix">1</div>
					<div class="stepsCol col1" ng-class="{active:step2||step3}">
						<div class="stepsCol-connector"></div>
						<div class="stepsCircle" ng-click="step2=true;step3=false">
							<div class="circle1"></div>		
							<span style="position:relative;z-index:999">2</span>
						</div>
					</div>	
					<div class="stepsCol col2" ng-class="{'active':step3}">
						<div class="stepsCol-connector"></div>
						<div class="stepsCircle" ng-click="step2=false;step3=true">
							<div class="circle1"></div>
							<span style="position:relative;z-index:999">3</span>
						</div>
					</div>
				</div> <!-- / steps navigation -->

				<!-- =========== cart item list ============ -->
				<div class="cart-items white" ng-hide="step2||step3">
					<div class="cart-item" ng-repeat="item in cartItems">
						<i class="material-icons cart-itemRemove" title="delete" ng-click="removeCartItem($index)">highlight_off</i>
						<img src="{{item.img}}" class="cart-thumb" />
						<div class="cart-itemInfo">
							<p style="color:#555;font-weight:700" data-ng-bind="item.name"></p>
							<span ng-show="item.pack">Pack of <span data-ng-bind="item.pack"></span> Photos</span>
							<p> &nbsp; </p>
							<a class="cart-edit" ng-href="/customize/{{item.id}}">Edit</a>
						</div>
						<div class="cart-itemOption">
							<div class="cart-itemTotal"><img src="/assets/images/icons/rupeeb.svg" style="height:18px" />{{item.total}}</div>	
							<div class="qty-wrap">
								<i class="material-icons qty-btn" data-ng-click="cartQty($index,-1)">remove_circle</i>
								<span class="cart-qty" data-ng-bind="item.quantity" data-ng-init="item.quantity=1"></span>
								<i class="material-icons qty-btn" data-ng-click="cartQty($index,+1)">add_circle</i>
							</div>
						</div>
					</div>
				</div> <!-- / cart list item -->

				<!-- ============ shipping address ============== -->
				<div class="addressBlock" ng-show="step2 && !step3">
						
					<p ng-hide="addresses.length || editAddress" style="display:block;padding:150px 0;color:#999;text-align: center">You do not have any saved address !!</p>
					
					<div ng-click="editAddress=false;" ng-show="editAddress" style="position: absolute;right:0;top:20px;padding:6px 12px;background:#ddd;cursor:pointer;color:#666;text-align:center;">Saved Addresses</div>

					<!-- ============ edit address =========== -->			
					<div class="addressForm" data-ng-show="editAddress"> 
					  <form name="addressform" validate>
						<div class="row">
							<div class="col s3">
								<label class="addrLabel">Name</label>
							</div>
							<div class="col s5">
					          <input placeholder="Full Name" type="text" ng-model="addr.name" maxlength="20" class="validate">
					        </div>
						</div>
						<div class="row">
							<div class="col s3">
								<label class="addrLabel">Pincode</label>
							</div>
							<div class="col s5">
					          <input placeholder="Pincode" type="text" ng-model="addr.pincode"  ng-minlength="6" maxlength="6" class="validate">
					        </div>
						</div>
						<div class="row">
							<div class="col s3">
								<label class="addrLabel">Address</label>
							</div>
							<div class="col s5">
					          <textarea class="materialize-textarea" ng-model="addr.location"  ng-minlength="10" maxlength="40"></textarea>
					        </div>
						</div>
						<div class="row">
							<div class="col s3">
								<label class="addrLabel">Landmark</label>
							</div>
							<div class="col s5">
					          <input placeholder="Landamrk" type="text" ng-model="addr.landmark" maxlength="30" class="validate">
					        </div>
						</div>
						<div class="row">
							<div class="col s3">
								<label class="addrLabel">Mobile</label>
							</div>
							<div class="col s5">
					          <input placeholder="Mobile Number" type="text" ng-model="addr.mobile"  ng-minlength="10" maxlength="10" class="validate">
					        </div>
						</div>
						<div class="row">
							<div class="col s3">
								<label class="addrLabel">City</label>
							</div>
							<div class="col s5">
					          <input placeholder="City" type="text" ng-model="addr.city" class="validate">
					        </div>
						</div>

						<div class="row">
							<div class="col s3">
								<label class="addrLabel">State</label>
							</div>
							<div class="col s5">
							    <select style="z-index: 999"  ng-model="addr.state" material-select watch>
							        <option ng-repeat="value in ['Uttar Pradesh','Delhi','Karnataka']">{{value}}</option>
							    </select>
					        </div>
						</div>

						<div class="row">
							<div class="col s3"><label class="addrLabel">Address Type</label></div>
							<div class="col s5">	
					          <p style="line-height: 3rem">
					          <input class="with-gap" ng-model="addr.type" type="radio" id="adr1" value="Home" checked/>
    						  <label for="adr1" style="padding-right:20px">Home</label>
							  <input class="with-gap" ng-model="addr.type" type="radio" id="adr2" value="Office" />
    						  <label for="adr2" style="padding-right:20px">Office</label>
    						  <input class="with-gap" ng-model="addr.type" type="radio" id="adr3" value="Other"/>
    						  <label for="adr3" >Other</label>
    						  </p>
					        </div>
						</div>
						<div class="row">
							<div class="col s3">&nbsp;</div>	
							<div class="col s8">
					            <p style="padding:15px 0 30px 0">
							      <input type="checkbox" id="adr5" ng-model="addr.default"/>
							      <label for="adr5" style="font-size:1em">make this my default address</label>
							    </p>
					        </div>
						</div>
						<div class="row">
							<div class="col s3">&nbsp;</div>
							<div class="col s5">
								<button type="submit" class="btn right" ng-click="addrSave(addr)">SAVE</button>
							</div>	
						</div>
					  </form>	
					</div> <!-- / edit address -->

					<!-- ============= list of saved addresses =========== --> 
					<div class="addressForm" ng-hide="editAddress" data-ng-show="addresses.length"> 
						<p class="shipping-info">click on address card to select shipping address</p>
			
						<div class="addressCard" ng-class="{active:addr_selected[address._id]}" ng-click="addrSelect(address._id)" ng-repeat="address in addresses" ng-init="addr_selected[address._id]=address.default">
							<div ng-class="{active:address.default}" class="addrType"><span data-ng-bind="address.type"></span> <span ng-show="address.default"> - default</span> </div>
							<div class="addrCheck" ng-show="addr_selected[address._id]"><i class="material-icons">check_circle</i></div>
							<p data-ng-bind="address.name" class="addrName"></p>
							<p><span data-ng-bind="address.location"></span>, <span data-ng-bind="address.city"></span></p>
							<p><span data-ng-bind="address.state"></span><span data-ng-show="address.pincode"> - </span> <span data-ng-bind="address.pincode"></span></p>
							<p style="padding-top:5px" data-ng-bind="address.landmark"></p>
							<p style="padding-top:10px">Mobile No <span style="padding-left:10px;font-weight:400" data-ng-bind="address.mobile"></span></p>
							
							<!-- ==== card edit/delete option ==== -->
							<div class="addressCardOption">
								<span ng-click="addrEdit($event,$index)"><i class="material-icons ic">mode_edit</i> Edit</span>
								<span ng-click="addrDelete($event,$index)"><i class="material-icons ic">delete</i> Delete</span>		
							</div>
						</div>	

					</div> <!-- /list saved address -->

					<div class="text-center" ng-hide="editAddress">
						<button class="btn" style="width:50%;margin:20px 25% 0 25%" ng-click="addAddress()">ADD NEW ADDRESS</button>
					</div>	
				</div> <!-- /shipping address -->

				<!-- ========== Paymment mode ========== -->
				<div class="addressBlock" ng-show="step3">
					<p class="info">Choose Payment Gateway</p>

					<p class="info">
						<input class="with-gap" ng-model="payment" type="radio" id="pay1" value="atompay" />
    					<label for="pay1" style="padding-right:20px">Atom Pay</label>
    				</p>
    				<p class="info">
						<input class="with-gap" ng-model="payment" type="radio" id="pay2" value="payumoney" />
    					<label for="pay2" style="padding-right:20px">Pay U Money</label>
    				</p>
    				<p class="info">
						<input class="with-gap" ng-model="payment" type="radio" id="pay3" value="instamojo" />
    					<label for="pay3" style="padding-right:20px">Insta Mojo</label>
    				</p>
    				<p class="info">
						<input class="with-gap" ng-model="payment" type="radio" id="pay4" value="cod" />
    					<label for="pay4" style="padding-right:20px">COD</label>
    				</p>

    				<button type="button" style="margin:20px 0 0 10px" class="btn" ng-class="{disabled:!payment}" ng-click="cartAction()" ng-disabled="!payment">CHECKOUT</button>

				</div> <!-- /Payment Mode -->

			</div>
			

			<!--=== card summary ===-->
			<div class="cart-sidebar">
				<h4 style="margin:0;padding:8px 10px;text-align:center;font-size:1.8em;background:rgba(0,0,0,0.3)">CART SUMMARY</h4>
 			 	<div style="position: relative;overflow: hidden;padding:20px;">	
 			 		<div style="width:100%;font-size:1em;padding:10px 0">

 			 			<p style="text-align:left">No of Items <span class="amt">{{cartCount}}</span></p>
	 			 		<p style="text-align:left">Sub Total <span class="amt"><img src="/assets/images/icons/rupee.svg" style="height:12px" /> {{grandTotal}}</span></p>
	 			 		<p style="text-align:left">Shipping Charges <span class="amt"><img src="/assets/images/icons/rupee.svg" style="height:12px" /> 30.0</span> </p>
	 			 		<hr style="color:#eee;border:1px solid #eee">
	 					<p style="color:#fff;font-size:1.7em;text-align:left">TOTAL  <span class="amt"><img src="/assets/images/icons/rupee.svg" style="height:25px" /> {{grandTotal+30+40}}</span> </p>
	 				</div>

	 				<button class="btn" ng-click="cartAction()" style="height:40px;width:100%;margin-top:10px;background:rgb(255,201,105);color:#444"><i class="materail-icons" style="display: inline-block;vertical-align: middle;"></i> <span data-ng-bind="cartNavBtn"></span> </button>
	 			</div>	
			</div> <!-- / card summary -->

		</div>

	</div>	
</div>

