<!-- =============== footer ================ -->
  <footer>
    <div class="container">
      <div class="row" style="margin:0;padding:0;line-height:1.4em">
       
        <div class="col s6 m6 l3">
          <h6>SHIFTZ FOOD CART</h6>
          <ul>
            <li><a href="/about">About Us</a>
            <li><a href="/contact">Contact</a>
           
          </ul>
        </div>
        <div class="col s6 m6 l3">
          <h6>Follow Us</h6>
          <div class="social">
            <a href="#"><span class="flaticon flaticon-facebook"></span></a>
            <a href="#"><span class="flaticon flaticon-instagram"></span></a>
            <a href="#"><span class="flaticon flaticon-google-plus"></span></a>
          </div>
        </div>
        
      </div>
    </div>
    <div class="row copyright">
      <div class="container">
        <div class="col s12 m6 l9">
          <p>&copy;  shiftZ--foodcart </p>
        </div>
        <div class="col s12 m6 l3">
        <p class="terms">
          <a href="/privacy">Privacy Policies</a>
          <a href="/terms">Terms & Conditions</a>
        </p>
       </div>
      </div>
    </div>
  </footer> <!-- / footer -->